<div class="news-image">
  <img [src]="news?.imageUrl" [alt]="news?.title" [srcset]="news?.imageUrl" />
</div>

<article app-page-content class="page-content" *ngIf="news">
  <header class="news-content-header">
    <span>{{ news.date }}</span>
    <h1>{{ news.title }}</h1>
    <p>{{ news.description }}</p>
  </header>

  <section class="news-content-wrapper">
    <article class="news-content">
      <app-youtube-player
        *ngIf="news?.videoUrl"
        [videoUrl]="news.videoUrl!"
        class="news-video"
      ></app-youtube-player>

      <div class="news-richtext" [innerHTML]="news.content"></div>
    </article>

    <aside class="news-sidebar">
      <app-sidebar-ad></app-sidebar-ad>
    </aside>
  </section>
</article>
