<div class="news-image">
  <img [src]="news?.imageUrl" [alt]="news?.title" [srcset]="news?.imageUrl" />
</div>

<div app-page-content class="page-content" *ngIf="news">
  <header class="news-content-header">
    <span>{{ news.date }}</span>
    <h1>{{ news.title }}</h1>
  </header>

  <div class="news-content-wrapper">
    <div class="news-content">
      <app-youtube-player
        *ngIf="news?.videoUrl"
        [videoUrl]="news.videoUrl!"
        class="news-video"
      ></app-youtube-player>

      <div class="news-richtext">
        {{ news.content }}
      </div>
    </div>

    <aside class="news-sidebar">
      <app-sidebar-ad></app-sidebar-ad>
    </aside>
  </div>
</div>
