<div class="header-content">
  <div class="header-logo">
    <img
      src="{{ logoImage }}"
      alt="Of Christ logo"
      srcset="Of Christ logo"
      width="190px"
      (click)="navigateHome()"
    />
  </div>

  <nav class="main-navigation">
    <ul class="navigation">
      <li class="navigation-item" *ngFor="let page of pageList" >
        <a class="navigation-item-label" href="{{ page.path }}">{{ page.data.label }}</a>
        <ul class="subnav" *ngIf="page.data?.['submenu']">
          <img
            src="{{ page.data.submenu?.backgroundImage }}"
            alt="background submenu"
            class="submenu-background-img"
          />
          <li *ngFor="let subpage of page.data.submenu?.subpages">
            <a href="/{{ subpage.slug }}">{{ subpage.label }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
