@import "../../../../mixins.scss";

@keyframes hoverAnimation {
  25% {
    transform: rotate(5deg) scale(1.1);
  }

  50% {
    transform: rotate(-5deg) scale(1.1);
  }

  75% {
    transform: rotate(5deg) scale(1.1);
  }
}

@mixin subnav-visible {
  opacity: 1;
  transform: translateY(0);
}

:host {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: ease-in-out 1s;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: var(--spacing-large);
  max-width: var(--width-content);

  color: var(--color-white);
  text-transform: uppercase;

  @include screen-mobile-and-smaller {
    margin-top: var(--spacing-small);
    justify-content: space-between;
  }
}

.header-logo {
  display: flex;
  flex: 0.5;
  align-items: center;
  width: fit-content;
  margin-left: var(--spacing-medium);
}

.header-logo img {
  &:hover {
    cursor: pointer;
    filter: sepia(1.2);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 300ms;
  }
}

.main-navigation {
  flex: 1;

  .navigation {
    display: flex;
    float: right;
    margin: 0;
  }

  .navigation-item {
    list-style: none;
    padding: 0 var(--spacing-medium);
    padding-bottom: var(--spacing);
    color: var(--color-white);
    overflow: hidden;

    .navigation-item-label {
      display: block;
      text-decoration: none;
    }
  }

  @include screen-tablet-and-smaller {
    font-size: smaller;
  }
}

.navigation-item-label:hover {
  color: var(--color-primary-lighter);
  animation: hoverAnimation 300ms;
}

.subnav {
  position: absolute;
  z-index: -1;
  width: 100%;
  padding-top: calc(var(--spacing-x-large) * 2);
  padding-bottom: var(--spacing-medium);
  left: 0;
  top: 0;
  text-align: center;
  color: var(--color-text);
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: ease-in-out 500ms;

  &:hover {
    @include subnav-visible()
  }

  li {
    display: inline-block;
    margin: 0 var(--spacing-medium);
  }

  li a {
    text-decoration: none;
  }
}

.subnav li:hover {
  text-decoration: double underline;

  a {
    color: inherit;
  }
}

.submenu-background-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);

  object-fit: cover;
  object-position: 0 20%;
}

.navigation-item-label:hover+.subnav {
  @include subnav-visible()
}

.main-navigation-mobile {
  width: 30px;
  height: 30px;
  margin-right: var(--spacing-medium);
  padding: 0;
  background-color: transparent;
  border: none;

  @include screen-mobile-and-smaller {
    display: block;
  }
}

.mobile-drawer {
  height: 3px;
  width: 100%;
  background-color: var(--color-white);

  &::after,
  &::before {
    content: '';
    display: block;
    height: 100%;
    background-color: var(--color-white);
  }

  &::after {
    transform: translateY(4px);
  }

  &::before {
    transform: translateY(-7px);
  }
}

.active-menu {
  transform: translateX(0);
}
