:host {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: ease-in-out 1s;
}

.header-content {
  display: flex;
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  padding: var(--spacing);
  max-width: var(--width-content);

  color: var(--color-white);
}

@keyframes hoverAnimation {
  25% {
    transform: rotate(5deg) scale(1.1);
  }

  50% {
    transform: rotate(-5deg) scale(1.1);
  }

  75% {
    transform: rotate(5deg) scale(1.1);
  }
}

.header-logo {
  display: flex;
  flex: 0.5;
  align-items: center;
  width: fit-content;
}

.header-logo img {
  &:hover {
    cursor: pointer;
    filter: sepia(1);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 300ms;
  }
}

.main-navigation {
  flex: 1;

  ul {
    display: block;
    float: right;
  }

  ul li {
    display: inline-block;
    list-style: none;
    font-size: larger;
    padding: 0 var(--spacing-medium);
    color: var(--color-white);

    &:hover {
      color: var(--color-primary-lighter);
      animation: hoverAnimation 300ms;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
