<button class="close-button-wrapper" role="button" aria-label="Close drawer-menu" (click)="closeMenu()">
  <div id="close-menu"></div>
</button>

<ul class="mobile-menu-pages">
  <li *ngFor="let page of pageList">
    <a [href]="page.path">{{ page.data.label }}</a>
  </li>
</ul>

<footer class="mobile-menu-socials">
  <ul>
    <li *ngFor="let social of socialNetworks">
      <a href="{{ social.href }}" target="_blank" [ariaLabel]="social.label">
        <mat-icon svgIcon="{{ social.icon }}"></mat-icon>
      </a>
    </li>
  </ul>
</footer>
