@import "../../../mixins.scss";

::ng-deep {
  .inner-content {
    align-items: center;
  }
}

h3 {
  opacity: 0.6;
}

.contact-content {
  justify-content: center;
}

.contact-row {
  margin: var(--spacing-medium) auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-medium);

  a {
    font-size: 2rem;
    line-height: 1;
    text-decoration: underline 2px;

    @include screen-mobile-and-smaller {
      font-size: 1.4rem;
    }
  }

  mat-icon {
    width: 30px;
    height: 30px;
    color: var(--color-whatsapp);
  }
}

.svg-whatsapp {}
