@import "../../../mixins.scss";

::ng-deep {
  app-featured-banner {
    height: 500px;

    @include screen-tablet-and-smaller {
      aspect-ratio: 1.8;
      height: auto
    }
  }

  app-news-headline {
    @include grid-content(3, var(--spacing-large));
  }
}

.news-featured {
  height: fit-content;
}

.news-others {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--spacing-large);
  margin-top: var(--spacing-x-large);
}

.news-others-load-more {
  display: block;
  margin: auto auto;
  margin-top: var(--spacing-x-large);
  width: fit-content;
  padding: var(--spacing) var(--spacing-medium);
  color: var(--color-grey);
  border-color: var(--color-grey);
  transition: ease-in-out 200ms;

  &:hover {
    color: var(--color-grey);
    border-color: var(--color-grey);
    filter: brightness(1.4);
  }
}
