<h1 app-page-title>News</h1>

<div app-page-content>
  <section class="news-featured">
    <ul
      app-featured-tiles
      [talesList]="featuredList"
      [nOfTales]="4"
      [showReadMore]="true"
    ></ul>
  </section>
  <section class="news-others-section">
    <div class="news-others">
      <app-news-headline
        *ngFor="let news of newsList$ | async"
        [imageUrl]="news.imageUrl"
        [date]="news.date"
        [title]="news.title"
        [description]="news.description"
        [slug]="news.slug"
      ></app-news-headline>
    </div>
    <button
      app-button
      class="news-others-load-more"
      id="news-others-load-btn"
      *ngIf="showLoadMoreBtn"
    >
      Mais notícias
    </button>
  </section>
</div>
