@import "../../../../mixins.scss";

::ng-deep {
  .inner-content {
    align-items: center;
  }
}

.contact-content {
  justify-content: center;
}

.contact-richtext {
  text-align: center;

  ::ng-deep {
    h3 {
      opacity: 0.6;

      &:not(:first-of-type) {
        margin-top: var(--spacing-x-large);
      }
    }

    a {
      font-size: 2rem;
      line-height: 1;
      text-decoration: underline 2px;

      @include screen-mobile-and-smaller {
        font-size: 1.4rem;
      }
    }
  }
}
