::ng-deep {
  html {
    scroll-behavior: smooth;
  }
}

.lyrics-page-content {
  ::ng-deep {
    .inner-content {
      max-width: 1000px;
    }
  }
}

.lyrics-header {
  width: 100%;
  margin-bottom: var(--spacing-medium);
}

.lyrics-search-bar {
  width: 100%;
  font-size: large;
  padding: var(--spacing-medium);
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 5px 1px var(--color-grey);
  transition: ease-in-out 200ms;

  color: var(--color-text);

  &:focus {
    outline: none;
    box-shadow: 0px 0px 10px 4px var(--color-primary);
  }
}

.lyrics-list-container {
  display: flex;
  gap: var(--spacing-medium);
}

.lyrics-aside {
  flex: 0.2;

  ul {
    position: sticky;
    top: 20svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing);
    gap: var(--spacing);
    width: fit-content;
    margin-left: auto;

    span {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  ul li {
    list-style: none;
    line-height: 1;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 100;

    a {
      color: var;
      text-decoration: none;

      &:hover {
        padding-right: 10px;
        font-size: larger;
      }
    }
  }
}

.lyrics-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.lyrics-list-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 10svh;
}

.lyrics-list-title {
  padding-bottom: var(--spacing-medium);
  border-bottom: solid 1px var(--color-text);
  margin: 0 0 var(--spacing-large);
}

.lyrics-list-songs {
  flex: 1;
  margin: 0;

  li {
    list-style: none;
    margin-bottom: var(--spacing-large);
  }

  li a {
    font-size: x-large;
    text-decoration: none;
  }
}
