<h1 app-page-title>A Banda</h1>

<div app-page-content>
  <p class="about-summary" [innerHTML]="shortIntro"></p>

  <section id="about-subpages" class="about-subpages" *ngIf="subpages">
    <ul app-featured-tiles [talesList]="subpages" [nOfTales]="2"></ul>
  </section>

  <section app-page-section id="about-news" class="about-news" *ngIf="featuredNews">
    <header>
      <h2>Destaques:</h2>
      <a href="{{ baseUrl }}/news">todas as notícias</a>
    </header>
    <ul app-featured-tiles [talesList]="featuredNews" [nOfTales]="4"></ul>
  </section>

  <section app-page-section id="about-videos" class="about-videos" *ngIf="videoList">
    <header>
      <h2>Vídeos:</h2>
      <a href="{{ baseUrl }}/musicas/videos">todos os vídeos</a>
    </header>
    <ul class="about-videos-list">
      <app-youtube-player
        *ngFor="let video of videoList"
        id="youtube-player"
        [videoUrl]="video.url"

        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></app-youtube-player>
    </ul>
  </section>
</div>
