@import "../../../mixins.scss";

::ng-deep {
  .about-news app-featured-banner {
    height: 300px;
  }

  .about-subpages,
  .about-news {
    app-featured-banner {
      @include screen-tablet-and-smaller {
        height: 180px;
      }
    }
  }

  app-youtube-player {
    @include grid-content(3, var(--spacing))
  }
}

.about-summary {
  text-align: center;
  max-width: 800px;
  margin: var(--spacing-medium) auto 0;
  font-size: larger;
  color: var(--color-grey-lighter);
}

.about-subpages {
  margin-top: var(--spacing-x-large);
  height: 250px;

  @include screen-mobile-and-smaller {
    height: fit-content;
  }
}

.about-videos-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--spacing);
}
