@import "../../../mixins.scss";

::ng-deep {
  .about-news app-highlight-banner {
    height: 300px;

    @include screen-tablet-and-smaller {
      height: 180px;
    }
  }

  app-youtube-player {
    @include grid-content(3, var(--spacing))
  }
}

section {
  margin-top: var(--spacing-x-large);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: var(--color-grey);
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      content: ' »';
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.about-summary {
  text-align: center;
  max-width: 800px;
  margin: var(--spacing-medium) auto 0;
  font-size: larger;
  color: var(--color-grey-lighter);
}

.about-subpages {
  margin-top: var(--spacing-x-large);
  height: 250px;
}

.about-videos-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--spacing);
}
