@import "../../../../mixins.scss";

:host {
  flex: 1;
}

.featured-banner-clickable-container {
  display: flex;
  height: 100%;
  max-width: 100%;
  min-width: 250px;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.48%, rgba(0, 0, 0, 0.6) 77.85%);

    position: absolute;
    z-index: 1;
  }

  &:hover {
    color: inherit;
  }
}

.featured_banner-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.featured_banner-info-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  margin-top: auto;
  padding: 0 var(--spacing);
  padding-bottom: var(--spacing);
  gap: var(--spacing);

  h2,
  p {
    @include text-overflow(3);
    margin: 0;
  }

  p {
    opacity: 0.7;

    @include screen-tablet-and-smaller {
      display: none;
    }
  }
}

.featured_banner-date {
  font-size: x-small;
  line-height: 1;
  font-weight: bold;
  width: fit-content;
  opacity: 0.7;
}

.featured_banner-read_more {
  text-transform: uppercase;

  &::after {
    content: "»";
    margin-left: var(--spacing-x-small);
  }

  @include screen-tablet-and-smaller {
    display: none;
  }
}
