<h1 app-page-title>Músicas</h1>

<div app-page-content>
  <a [routerLink]="'letras'" class="mobile-pesquisar-link"
    >Pesquisar por nome da música</a
  >

  <app-featured-video
    *ngIf="featuredVideo"
    [videoUrl]="featuredVideo.url"
    [title]="featuredVideo.title"
    [streaming]="featuredVideo.streaming"
    [isMusicVideo]="true"
    class="music-featured-video"
  >
  </app-featured-video>
  <section app-page-section *ngIf="albums">
    <header>
      <h2>Álbums:</h2>
      <a [routerLink]="['./discografia']">ver todos</a>
    </header>

    <ul
      app-featured-tiles
      [talesList]="albums"
      [nOfTales]="isMobile ? 1 : isTablet ? 2 : 3"
      class="albums-list"
    ></ul>
  </section>

  <section app-page-section>
    <header>
      <h2>Videos:</h2>
      <a [routerLink]="['./videos']">ver todos</a>
    </header>

    <ul class="videos-gallery" *ngIf="videos">
      <app-youtube-player
        *ngFor="let video of videos"
        id="youtube-player"
        [videoUrl]="video.url"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></app-youtube-player>
    </ul>
  </section>
</div>
