.music-featured-video {
  flex: 1;
  min-width: 600px;
  margin: 0 auto;
}

.albums-list {
  ::ng-deep {
    .featured-banner-clickable-container {
      aspect-ratio: 1;
      height: auto;
      margin: auto;
    }
  }
}
