<video
  *ngIf="!promo"
  src="{{ showVideo }}"
  autoplay
  [muted]="'muted'"
  loop
  class="main-background-image"
></video>

<div class="home-promo">
  <img
    *ngIf="promo"
    src="{{ promo.image }}"
    alt="{{ promo.name }}"
    srcset="{{promo.image}}"
    [class]="'home-promo-image' + (promo.videoUrl ? ' has-video' : '')"
  />

  <youtube-player
    id="youtube-player"
    class="home-promo-video"
    *ngIf="promo?.videoUrl"
    [videoId]="promo?.videoUrl"
    [height]="videoHeight"
    [width]="videoWidth"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></youtube-player>

  <h1 *ngIf="promo?.cta && !promo?.videoUrl" class="home-promo-name">{{ promo?.name }}</h1>

  <a
    app-button
    *ngIf="promo?.cta && !promo?.videoUrl"
    [href]="promo?.cta?.href"
    class="home-promo-cta"
    >{{ promo?.cta?.label }}</a
  >
</div>
