<a class="highlight-banner-clickable-container" href="{{ href }}">
  <img
    src="{{ imageUrl }}"
    alt="{{ title }}"
    srcset="{{imageUrl}}"
    class="highlight_banner-image"
  />

  <div class="highlight_banner-info-container">
    <span class="highlight_banner-date" *ngIf="date">{{ date }}</span>
    <h2>{{ title }}</h2>
    <p *ngIf="description">
      {{ description }}
    </p>
    <span class="highlight_banner-read_more" *ngIf="showReadMore"
      >ler mais</span
    >
  </div>
</a>
