<h1 app-page-title>Vídeos</h1>

<div app-page-content>
  <app-featured-video
    *ngIf="featuredVideo"
    [videoUrl]="featuredVideo.url"
    [title]="featuredVideo.title"
    [streaming]="featuredVideo.streaming"
    [isMusicVideo]="!!featuredVideo.streaming?.length"
    class="featured-video"
  >
    <div class="featured-video-content-wrapper">
      <div
        class="featured-video-content"
        [innerHTML]="featuredVideo.content"
      ></div>
      <div class="featured-video-content-cta">
        <a href="{{ featuredVideo.cta?.href }}" app-button>{{
          featuredVideo.cta?.label
        }}</a>
      </div>
    </div>
  </app-featured-video>

  <ul class="videos-gallery" *ngIf="videoList">
    <app-youtube-player
      *ngFor="let video of videoList"
      id="youtube-player"
      [videoUrl]="video.url"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></app-youtube-player>
  </ul>
</div>
