<h1 app-page-title>Letras</h1>

<div app-page-content class="lyrics-page-content">
  <header class="lyrics-header">
    <input
      type="search"
      name="search"
      #searchbar
      class="lyrics-search-bar"
      placeholder="Pesquisar música"
      (keyup)="onSearchSong(searchbar.value)"
    />
  </header>

  <section class="lyrics-list-container">
    <article class="lyrics-list">
      <p *ngIf="!groupedSongsList?.length">Nenhuma música encontrada.</p>
      <div
        class="lyrics-list-group"
        *ngFor="let list of groupedSongsList"
        [id]="'letra-' + list.key"
      >
        <h1 class="lyrics-list-title">{{ list.key.toUpperCase() }}</h1>
        <ul class="lyrics-list-songs">
          <li *ngFor="let song of list.songs">
            <a [routerLink]="song.id">{{ song.title }}</a>
          </li>
        </ul>
      </div>
    </article>
    <aside class="lyrics-aside">
      <ul>
        <span>filtrar:</span>
        <li *ngFor="let letter of lettersList">
          <a routerLink="." fragment="letra-{{ letter }}">{{ letter.toUpperCase() }}</a>
        </li>
      </ul>
    </aside>
  </section>
</div>
