<p>lyrics works!</p>
<h1 app-page-title>Letras</h1>

<div app-page-content class="lyrics-page-content">
  <header class="lyrics-header"></header>

  <section class="lyrics-list-container">
    <article class="lyrics-list">
      <div
        class="lyrics-list-group"
        *ngFor="let list of groupedSongsList"
        [id]="'letra-' + list.key"
      >
        <h1 class="lyrics-list-title">{{ list.key.toUpperCase() }}</h1>
        <ul class="lyrics-list-songs">
          <li *ngFor="let song of list.songs">
            <a href="#">{{ song.title }}</a>
          </li>
        </ul>
      </div>
    </article>
    <aside class="lyrics-aside">
      <ul>
        <span>filtrar por:</span>
        <li *ngFor="let letter of lettersList">
          <a [href]="'#letra-' + letter">{{ letter }}</a>
        </li>
      </ul>
    </aside>
  </section>
</div>
