:host {
  width: 100%;
  padding: var(--spacing);
  border: solid 2px var(--color-white);
  background: transparent;

  color: var(--color-text);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    border-color: var(--color-primary-lighter);
    color: var(--color-primary-lighter);
  }
}
