<app-youtube-player
  [videoUrl]="videoUrl"
  class="music-featured-video"
></app-youtube-player>

<aside class="featured-video-info">
  <ng-content *ngIf="!isMusicVideo"></ng-content>

  <div class="video-info" *ngIf="isMusicVideo">
    <h2 class="featured-video-title">{{ title }}</h2>
    <ul class="featured-video-streaming">
      <li *ngFor="let platform of streaming">
        <a
          app-button
          href="{{ platform.href }}"
          target="_blank"
          [style]="
            'color: var(--color-' +
            platform.icon +
            '); border-color: var(--color-' +
            platform.icon +
            ');'
          "
        >
          <mat-icon svgIcon="{{ platform.icon }}"></mat-icon>
          Ouvir no {{ platform.label }}
        </a>
      </li>
    </ul>
  </div>
</aside>
