<video
  *ngIf="showVideo && ((!promo && !videoRelease) || (promo && videoRelease))"
  [src]="showVideo"
  [muted]="'muted'"
  class="main-background-image"
  autoplay
  loop
></video>

<div class="home-promo" *ngIf="promo && !videoRelease">
  <img
    src="{{ promo.image }}"
    alt="{{ promo.name }}"
    srcset="{{promo.image}}"
    class="home-promo-image"
  />

  <h1 *ngIf="promo?.cta" class="home-promo-name">
    {{ promo.name }}
  </h1>

  <a
    app-button
    *ngIf="promo?.cta"
    [href]="promo.cta?.href"
    class="home-promo-cta"
    >{{ promo.cta?.label }}</a
  >
</div>

<div class="home-release" *ngIf="videoRelease && !promo">
  <app-featured-video
    [videoUrl]="videoRelease.url"
    [title]="videoRelease.title"
    [streaming]="videoRelease.streaming"
    [isMusicVideo]="!!videoRelease.streaming?.length"
    class="home-featured-video"
  >
    <div class="featured-video-content-wrapper">
      <div
        class="featured-video-content"
        [innerHTML]="videoRelease.content"
      ></div>
      <div class="featured-video-content-cta">
        <a href="{{ videoRelease.cta?.href }}" app-button>{{
          videoRelease.cta?.label
        }}</a>
      </div>
    </div></app-featured-video
  >
</div>
