@import "../../../../mixins.scss";

:host {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  margin-top: 400px;
  background-color: var(--color-black);
  box-shadow: 0px -10px 100px 100px var(--color-black);
  color: var(--color-text);
  padding-bottom: var(--spacing-xx-large);

  @include screen-tablet-and-smaller {
    padding: 0 var(--spacing-xx-large);
  }
}

.inner-content {
  flex: 1;
  max-width: clamp(760px, calc(100% - 80px), var(--width-content));
}
