@import '../../../../mixins.scss';

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--color-grey);


  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    opacity: 0.9;
    width: 100%;
    height: 80px;
    background-color: var(--color-background);
    box-shadow: 0px 0px 100px 100px var(--color-background);
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: var(--width-content);
  width: 100%;
  padding: 0;
  padding-bottom: var(--spacing-medium);
  gap: var(--spacing);
}

.footer-centered-list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: var(--spacing-large);
}

.footer-social-networks,
.footer-streaming-platforms,
.footer-list-row {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-centered-list ul li {
  display: inline-flex;
  align-items: center;

  a {
    color: var(--color-grey);
    transition: ease-in-out 100ms;

    &:hover {
      color: var(--color-primary-lighter);
      transform: scale(1.2);
    }
  }
}

.footer-social-networks, .footer-streaming-platforms {
  gap: var(--spacing-medium);

  a {
    height: 24px;
    aspect-ratio: 1;
  }
}

.footer-list-row li {
  @include inline-list-with-separator-bar
}
