<div class="footer-content">
  <div class="footer-centered-list">
    <ul class="footer-social-networks">
      <li *ngFor="let social of socialNetworks">
        <a href="{{ social.href }}" target="_blank">
          <mat-icon svgIcon="{{ social.icon }}"></mat-icon>
        </a>
      </li>
    </ul>
    <span class="footer-separator">•</span>
    <ul class="footer-streaming-platforms">
      <li *ngFor="let platform of streamingPlatforms">
        <a href="{{ platform.href }}" target="_blank">
          <mat-icon svgIcon="{{ platform.icon }}"></mat-icon>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-centered-list">
    <ul class="footer-list-row">
      <li *ngIf="footerLink">
        <a [href]="footerLink.href" [target]="footerLink.target || '_self'">{{
          footerLink.label
        }}</a>
      </li>
      <li>Todos os direitos reservados</li>
      <li>&copy; {{ currYear }} Of Christ</li>
    </ul>
  </div>
</div>
