@mixin inline-list-with-separator-bar {
  &::after {
    content: '|';
    margin: 0 var(--spacing);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

@mixin inline-list-with-separator-dot {
  &::after {
    content: '•';
    margin: 0 var(--spacing);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

@mixin disable-selection {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin text-overflow($number-of-lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $number-of-lines;
  -webkit-box-orient: vertical;
}

@mixin screen-mobile-and-smaller {
  @media only screen and (max-width: em(600px)) {
    @content;
  }
}

@mixin screen-tablet-and-larger {
  @media only screen and (max-width: em(816px)) {
    @content;
  }
}
