@mixin inline-list-with-separator-bar {
  &::after {
    content: '|';
    margin: 0 var(--spacing);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

@mixin inline-list-with-separator-dot {
  &::after {
    content: '•';
    margin: 0 var(--spacing);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

@mixin disable-selection {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin text-overflow($number-of-lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $number-of-lines;
  -webkit-box-orient: vertical;
}

@mixin screen-mobile-and-smaller {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin screen-tablet-and-smaller {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen-desktop-and-smaller {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin grid-content($grid-columns, $gap) {
  width: calc(((100 / $grid-columns) * 1%) - $gap);

  @include screen-tablet-and-smaller {
    width: calc(((100 / round(calc($grid-columns / 2))) * 1%) - $gap);
  }

  @include screen-mobile-and-smaller {
    width: 100%;
  }
}
