// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ofchrist-website-primary: mat.define-palette(mat.$indigo-palette);
$ofchrist-website-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ofchrist-website-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ofchrist-website-theme: mat.define-light-theme((color: (primary: $ofchrist-website-primary,
        accent: $ofchrist-website-accent,
        warn: $ofchrist-website-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ofchrist-website-theme);

/* You can add global styles to this file, and also import other style files */

@import "./mixins.scss";

:root {
  // spacing
  --spacing: 10px;
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing) * 4);
  --spacing-x-large: calc(var(--spacing) * 6);
  --spacing-xx-large: calc(var(--spacing) * 8);
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-x-small: calc(var(--spacing) / 3);
  --spacing-xx-small: calc(var(--spacing) / 4);

  // Settings
  --border-radius: 10px;
  --width-content: 1280px;

  // colors
  --color-primary: #ad0e10;
  --color-primary-lighter: #ef090c;
  --color-white: #fdfdfd;
  --color-grey: #7e848c;
  --color-grey-lighter: #d7d7d7;
  --color-grey-dark: #6c6c6c;
  --color-grey-darker: #40424c;
  --color-black: #0a0a0a;

  --color-background: var(--color-black);
  --color-text: var(--color-white);

  --color-spotify: #1ed760;
  --color-deezer: #f98511;
  --color-apple-music: #fb223c;
  --color-youtube-music: #ff0000;
  --color-whatsapp: #19d03e;


  --color-background-rgb: 10, 10, 10;
  ;
}

html,
body {
  font-size: 16px !important;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--color-text);

  background-size: cover;
  background-color: var(--color-black);
  background-attachment: fixed;
  background-position-y: 50%;

  @include screen-mobile-and-smaller {
    animation: backgroundAnimation infinite 5s;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;

  @include screen-mobile-and-smaller {
    font-size: 2rem;
  }
}

a {
  color: var(--color-text);
  transition: ease-in-out 110ms;

  &:hover {
    color: var(--color-primary-lighter);
  }
}

ul {
  padding-inline-start: 0
}

.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
