<h1 app-page-title>{{ song?.title }}</h1>

<div app-page-content>
  <div class="song-page-cover-image">
    <img [src]="album?.cover" alt="Cover album" [srcset]="album?.cover" />
  </div>

  <section class="song-page-section">
    <article class="song-page-article">
      <header class="song-page-info">
        <div class="song-info-block">
          <h5 class="song-page-label">Lançamento:</h5>
          <h3>{{ album?.releaseDate }}</h3>
        </div>

        <div class="song-info-block">
          <h5 class="song-page-label">Estúdio:</h5>
          <h3>{{ album?.recorded }}</h3>
        </div>

        <div class="song-info-block">
          <h5 class="song-page-label">Produção:</h5>
          <h3>{{ album?.producer }}</h3>
        </div>

        <div class="song-info-block">
          <h5 class="song-page-label">Compositores:</h5>
          <h3>{{ song?.composers }}</h3>
        </div>
      </header>

      <div class="song-page-lyrics">
        <h5 class="song-page-label">Letra:</h5>
        {{ song?.lyrics }}
      </div>
    </article>

    <aside class="song-page-sidebar">
      <div class="sidebar-sticky">
        <app-youtube-player
          [videoUrl]="song?.youtubeVideo || ''"
          class="song-sidebar-player"
        ></app-youtube-player>

        <ul class="featured-video-streaming">
          <li *ngFor="let platform of album?.streaming">
            <a
              app-button
              href="{{ platform.href }}"
              target="_blank"
              [style]="
                'color: var(--color-' +
                platform.icon +
                '); border-color: var(--color-' +
                platform.icon +
                ');'
              "
            >
              <mat-icon svgIcon="{{ platform.icon }}"></mat-icon>
              Ouvir no {{ platform.label }}
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </section>
</div>
