<h1 app-page-title>{{ song?.title }}</h1>

<div app-page-content>
  <div class="song-page-cover-image">
    <img
      [src]="album?.cover"
      [alt]="album?.title + ' Cover album'"
      [srcset]="album?.cover"
    />
  </div>

  <section class="song-page-section">
    <article class="song-page-article">
      <header class="song-page-info">
        <div class="song-info-block">
          <h5 class="song-page-label">Lançamento:</h5>
          <h3>{{ album?.releaseDate }}</h3>
        </div>

        <div class="song-info-block">
          <h5 class="song-page-label">Compositores:</h5>
          <h3>{{ song?.composers }}</h3>
        </div>

        <div class="song-info-block">
          <h5 class="song-page-label">Álbum:</h5>
          <h3>
            <a [routerLink]="['../../album/', album?.id]">
              {{ album?.title }}</a
            >
          </h3>
        </div>

        <div class="song-info-block">
          <h5 class="song-page-label">Estúdio:</h5>
          <h3>{{ album?.recorded }}</h3>
        </div>

        <div class="song-info-block">
          <h5 class="song-page-label">Produção:</h5>
          <h3>{{ album?.producer }}</h3>
        </div>
      </header>

      <div class="song-page-lyrics">
        <h5 class="song-page-label">Letra:</h5>
        <div
          class="songs-page-lyrics-richtext"
          [innerHTML]="song?.lyrics"
        ></div>
      </div>
    </article>

    <aside class="song-page-sidebar">
      <div class="sidebar-sticky">
        <app-youtube-player
          [videoUrl]="song?.youtubeVideo!"
          class="song-sidebar-player"
        ></app-youtube-player>

        <app-streaming-button-list
          *ngIf="album?.streaming"
          [streamingList]="album?.streaming!"
          label="Ouvir no"
        ></app-streaming-button-list>
      </div>
    </aside>
  </section>
</div>
