
@import "../../../../mixins.scss";

$transition-time: 200ms;

:host {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  gap: var(--spacing-small);
  transition: ease-in-out $transition-time;
  flex-wrap: wrap;

  &:hover {
    .highlight-item {
      opacity: 0.6;
    }
  }
}

.highlight-item {
  transition: ease-in-out $transition-time;;
}

:host:hover .highlight-item:hover {
  transform: scale(1.02);
  z-index: 1;
  color: inherit;
  opacity: 1 !important;
}
